<section class="mk-section-price" id="price">
	<div class="row">
		<div class="large-12 small-12">
			<h2 class="mk-title">
				Цены
			</h2>
		</div>
		<div class="large-4 small-12 column">
			<div class="mk-post">
				<h3 class="mk-price-category">
					Женская стрижка:
				</h3>
				<ul class="mk-price-long">
					<li>
						Каскад - 110грн
					</li>
					<li>
						Каре - 110грн
					</li>
					<li>
						Короткая(пикси) - 90грн
					</li>
					<li>
						Челка - 60грн
					</li>
					<li>
						Кончики - 80грн
					</li>
				</ul>
			</div>

			<div class="mk-post">
				<h3 class="mk-price-category">
					Укладки:
				</h3>
				<ul class="mk-price-long">
					<li>
						Детские косички - от 180грн
					</li>
					<li>
						Прически на свадьбу - от 280грн
					</li>
					<li>
						Накрутка - от 280грн
					</li>
				</ul>
			</div>
		</div>

		<div class="large-4 small-12 column">
			<div class="mk-post">
				<h3 class="mk-price-category">
					Окрашивание:
				</h3>

				<h5 class="mk-categoty">
					Моя краска
				</h5>
				<ul class="mk-price-long">
					<li>
						1 длина - 130грн
					</li>
					<li>
						2 длина - 150грн
					</li>
					<li>
						3 длина - 180грн
					</li>
					
				</ul>

				<h5 class="mk-categoty">
					Ваша краска
				</h5>
				<ul class="mk-price-long">
					<li>
						1 длина - 110грн
					</li>
					<li>
						2 длина - 130грн
					</li>
					<li>
						3 длина - 150грн
					</li>
					<li>Сложные окрашивания от 230грн</li>
				</ul>
			</div>
		</div>

		<div class="large-4 small-12 column">
			<div class="mk-post">
				<h3 class="mk-price-category">
					Мужская стрижка:
				</h3>
				<ul class="mk-price-long">
					<li>
						Налысо - 60грн
					</li>
					<li>
						Машинкой под насадки - 80грн
					</li>
					<li>
						Машинка и ножницы - 90грн
					</li>
					<li>
						Детская - 80грн
					</li>
					<li>
						Модельная - 110грн
					</li>
				</ul>
			</div>

			<div class="mk-post">
				<h3 class="mk-price-category">
					Уходовые процедуры:
				</h3>
				<ul class="mk-price-long">
					<li>
						Глубокое восстановление волос Estel (термокератин) - от 480грн
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>